@use "../../../../sass/abstracts/variables";

.teamLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  .teamLogoImage {
    position: absolute;
    z-index: 2;
    border-radius: 300px;
    @media (max-width: variables.$layout-breakpoint-large) {
      height: 48%;
      width: 48%;
    }
    @media (max-width: variables.$layout-breakpoint-medium) {
      height: 45%;
      width: 45%;
    }
  }
}
