.imageBlock {
  position: absolute;
  object-fit: cover;
  &.image-1 {
    top: 0%;
    left: 80%;
  }
  &.image-2 {
    top: 60%;
    left: 30%;
  }
  &.image-3 {
    top: 5%;
    left: 5%;
  }
  &.image-4 {
    top: 40%;
    left: 60%;
  }
}
