@use "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/variables";
.playersSection {
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template: 1fr 3fr 1px 1fr/1fr;
}

.boxPlayersWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @media (max-width: variables.$layout-breakpoint-small) {
    padding: 20px;
    justify-content: flex-start;
    overflow-x: scroll;
  }
}
