@use "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/variables";

.homeImageWrapper {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.homeImageTitle {
  color: white;
  font-family: "Cyrvetica";
  @include adaptive-FS(50, 237);
  letter-spacing: 0.07em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
