@use "../../sass/abstracts/variables";
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background-color: black;
  color: white;
  @media (max-width: variables.$layout-breakpoint-medium) {
  }
  @media (max-width: variables.$layout-breakpoint-small) {
    padding: 20px 40px;
  }
  @media (max-width: variables.$layout-breakpoint-xsmall) {
  }

  .headerImg {
    @media (max-width: variables.$layout-breakpoint-small) {
      width: 100px;
    }
    @media (max-width: variables.$layout-breakpoint-xsmall) {
      width: 80px;
    }
  }
}
