@use "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/variables";

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  margin-bottom: 10px;
  @media (max-width: variables.$layout-breakpoint-small) {
    padding: 10px 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  @media (max-width: variables.$layout-breakpoint-xsmall) {
  }
}

.title {
  font-family: "Cyrvetica";
  font-style: normal;
  font-weight: 400;
  @include adaptive-FS(30, 90);
  line-height: 105px;
  letter-spacing: 0.07em;
  color: #ffffff;
  @media (max-width: variables.$layout-breakpoint-small) {
    margin-bottom: 10px;
    line-height: 30px;
  }
}

.text {
  max-width: 325px;
  font-style: normal;
  font-weight: 400;
  @include adaptive-FS(14, 24);
  line-height: 28px;
  text-align: start;
  color: #ffffff;
  @media (max-width: variables.$layout-breakpoint-small) {
    text-align: start;
    line-height: 23px;
  }
}
