.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    border: 1px solid #ffffff;
    border-radius: 30px;
    background: transparent;
    color: white;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    padding: 14px 35px;
    cursor: pointer;
  }
}
